name: Publish on Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Do something on release
        run: |
          echo "Release $GITHUB_REF triggered this workflow"